$font-noto-san-jp: Noto Sans JP;
$font-gyloy: SVN-Gilroy;

$color-1: #c40000;
$color-2: #ffe4e4;
$color-3: #fff;
$color-4: #211e3b;
$color-5: #dedede;
$color-6: black;
$color-7: #292d32;
$color-8: #212121;
$color-9: #007bff;
$color-10: #e40303;
$color-11: #D9D9D9;
$color-12: #DFDDDF;
$color-13: #87B6E7;
$color-14: #770303;
$color-15: #D4D4D4;
$color-16: #AFAFAF;
$color-17: #D10000;
$color-18: #000;
$color-19: #a7a7a7;
$color-20: #ABB1AB;
$color-21: #DC3545;
$color-22: #747474;
$color-23: #E1E1E1;
