.center {
  margin: 144px 100px 40px 100px;

  .navbar {
    @include flexCenter;
    width: 100%;
    height: auto;
    background-color: $color-18;
    justify-content: flex-start;
    a {
      text-decoration: none;
      color: $color-3;
      margin: 0 20px;
    }
  }

  .tag {
    height: 300px;

    .card {
      margin: 10px 0;
      img {
        height: 210px;
      }
      .card-body {
        height: 120px;
      }
    }
  }

  .row2 {
    display: none;
  }
}
