.center {
  @include desktop {
    margin: 144px 100px 40px 100px;
  }
  @include mobile {
    margin: 144px 20px 40px 20px;
  }

  .profile {
    border: 1px solid #ccc;
    padding: 5px 0 0 0;
    margin-bottom: 18px;
    .image {
      width: 124px;
      .img-radius {
        border-radius: 50%;
      }
    }
    .email {
      display: inline;
    }
  }

  .navbar {
    @include flexCenter;
    width: 100%;
    height: auto;
    background-color: $color-18;
    justify-content: flex-start;
    a {
      text-decoration: none;
      color: $color-3;
      margin: 0 20px;
    }
  }

  .tag {
    height: 360px;
    .card {
      margin: 10px 0;
      img {
        height: 210px;
        object-fit: cover;
      }
      .card-body {
        .category {
          height: 34px;
          padding: 5px 0 0 12px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          border-radius: 50px;
        }
        height: 90px;
      }
    }
  }

  .row2 {
    display: none;
  }

  .card-body {
    .category {
      display: flex;
      span {
        margin-right: 4px;
      }
    }
    a {
      text-decoration: none;
      font-size: 18px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-family: $font-gyloy;
    }
  }
}
